$mainFont: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;

$keyColor: #ed6103;

$colorWhite: #fff;

$textColor01: #303030;
$textColor02: #868686;
$textColor03: #818181;
$textWhite: #fff;

$borderColor: #e0e0e0;

$bgColor: #f3f3f3;

$fontSizeBase: 1.4rem;
$lineHeightBase: 1.5;

$pc-width: 768px;
$sp-width: $pc-width - 1;